<form method="post" action="/bookmarks/update">
  <input type="text" name="old_title" placeholder="Title to update" />
  <input type="text" name="new_title" placeholder="New Title" />
  <input type="text" name="new_url" placeholder="URL"/>
  <input type="submit" value="Submit" />
</form>
